.header {
    /* background-color: aqua; */
    border: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box1 {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 40px;
    border: 1px solid gray;
    width: 30%;
}

.box2 {

    height: 40px;
    border: 1px solid gray;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box3 {

    height: 40px;
    border: 1px solid gray;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}